In [13]:
import pandas as pd
import numpy as np
tr_addr = '../input/train_'
te_addr  = '../input/test_'
user_info_cols  = ['id', 'sex', 'job', 'edu', 'marriage', 'loc_type']
user_info_train = pd.read_csv(tr_addr + 'user_info.csv', names = user_info_cols, index_col = 'id')
user_info_test  = pd.read_csv(te_addr + 'user_info.csv', names = user_info_cols, index_col = 'id')
print user_info_train.shape
print user_info_test.shape
print user_info_train.isnull().sum()
print user_info_test.isnull().sum()
print user_info_train.head()
print user_info_test.head()
del user_info_train,user_info_test

(55596, 5)
(13899, 5)
sex         0
job         0
edu         0
marriage    0
loc_type    0
dtype: int64
sex         0
job         0
edu         0
marriage    0
loc_type    0
dtype: int64
      sex  job  edu  marriage  loc_type
id
3150    1    2    4         1         4
6965    1    2    4         3         2
1265    1    3    4         3         1
6360    1    2    4         3         2
2583    2    2    2         1         1
       sex  job  edu  marriage  loc_type
id
57189    1    2    4         3         2
59778    1    2    3         1         4
59779    1    2    4         1         2
64690    1    2    4         2         1
63295    1    2    3         2         2

In [14]:
print 'getting loan_time...'
loan_time_cols  = ['id', 'loan_time']
loan_time_train = pd.read_csv(tr_addr + 'loan_time.csv', names = loan_time_cols, index_col = 'id')
loan_time_test  = pd.read_csv(te_addr + 'loan_time.csv', names = loan_time_cols, index_col = 'id')
loan_time = pd.concat([loan_time_train, loan_time_test])
print loan_time_train.shape
print loan_time_test.shape
print loan_time.shape
print loan_time_train.isnull().sum()
print loan_time_test.isnull().sum()
del loan_time_train,loan_time_test

getting loan_time...
(55596, 1)
(13899, 1)
(69495, 1)
loan_time    0
dtype: int64
loan_time    0
dtype: int64

In [17]:
print 'getting bank_detail...'
bank_cols = ['id', 'tm_encode', 'trade_type', 'trade_amount', 'salary_tag']
bank_detail_train = pd.read_csv(tr_addr + 'bank_detail.csv', names = bank_cols)
bank_detail_test  = pd.read_csv(te_addr + 'bank_detail.csv', names = bank_cols)
bank_detail = pd.concat([bank_detail_train, bank_detail_test])
print bank_detail_train.head()
print bank_detail_test.head()
print bank_detail_train.isnull().sum()
print bank_detail_test.isnull().sum()

getting bank_detail...
     id   tm_encode  trade_type  trade_amount  salary_tag
0  6965  5894316387           0     13.756664           0
1  6965  5894321388           1     13.756664           0
2  6965  5897553564           0     14.449810           0
3  6965  5897563463           1     10.527763           0
4  6965  5897564598           1     13.651303           0
      id   tm_encode  trade_type  trade_amount  salary_tag
0  57189  5898958287           1     10.760951           0
1  57189  5898958287           0     11.402795           0
2  57189  5898958287           1      6.849967           0
3  57189  5898958287           0      6.849967           0
4  57189  5899995087           1     16.752395           0
id              0
tm_encode       0
trade_type      0
trade_amount    0
salary_tag      0
dtype: int64
id              0
tm_encode       0
trade_type      0
trade_amount    0
salary_tag      0
dtype: int64

In [21]:
print 'getting browse_history...'
browse_cols  = ['id', 'time', 'action', 'ac_index']
browse_train = pd.read_csv(tr_addr + 'browse_history.csv', names = browse_cols)
browse_test  = pd.read_csv(te_addr + 'browse_history.csv', names = browse_cols)
browse = pd.concat([browse_train, browse_test])
browse = browse[['id','action']].groupby(['id']).sum()
print browse.head()
print browse.shape
print browse.isnull().sum()
del browse_train ,browse_test, browse

getting browse_history...
    action
id
2   151500
3    38586
4    38764
6     1650
7   112420
(59327, 1)
action    0
dtype: int64

In [22]:
print 'getting bill_detail...'
bill_detail_cols = ['id', 'tm_encode_3', 'bank_id', 'prior_account', 'prior_repay','credit_limit',
                    'account_balance', 'minimun_repay', 'consume_count','account', 'adjust_account',
                    'circulated_interest', 'avaliable_balance','cash_limit', 'repay_state']
bill_train = pd.read_csv(tr_addr + 'bill_detail.csv', names=bill_detail_cols)
bill_test  = pd.read_csv(tr_addr + 'bill_detail.csv', names=bill_detail_cols)
bill_detail = pd.concat([bill_train, bill_test])
bill_detail = bill_detail.groupby(['id']).mean()
bill_detail.drop(['bank_id'], axis=1, inplace=True)
print bill_detail.shape
print bill_detail.isnull().sum()
del bill_train,bill_test,bill_detail

getting bill_detail...
(53174, 13)
tm_encode_3            0
prior_account          0
prior_repay            0
credit_limit           0
account_balance        0
minimun_repay          0
consume_count          0
account                0
adjust_account         0
circulated_interest    0
avaliable_balance      0
cash_limit             0
repay_state            0
dtype: int64